doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title CRUD App
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet")
    script(src="https://kit.fontawesome.com/2805758966.js" crossorigin="anonymous")
  body 
    style 
      include css/style.css
    body
      h1 Type one of the following!
      p "maid", "waifu", "marin-kitagawa", "mori-calliope", "raiden-shogun", "oppai","selfies", "uniform", "kamisato-ayaka" #[strong NSFW FROM HERE] "ass", "hentai", "milf", "oral", "paizuri", "ecchi", "ero"
      main
        div(class="search-bar")
          form(action="/submit" method="POST")
            input(type="text" name="waifu" id='waifu' class="search-input")
            button(type="button" class="search-button") #[STRONG Look it up!]   
        ul(class="waifu-list")
          script(src="js/script.js") 
          

//
    <main>
      <div class="search-bar"> 
        <input type="text" name="waifu" class="search-input">
        <button type="button" class="search-button"> <strong>Look it up!</strong></button>
      </div>
      <ul class="waifu-list">
        
      </ul>
    </main>
    <script src="js/script.js"></script>
  </body>
  </html>

